<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<!-- styles  -->
<link rel="stylesheet" href="{{ '/assets/uikit/core.css' | url }}" />
<link rel="stylesheet" href="{{ '/assets/styles/docs.css' | url }}" />

<!-- scripts -->
<script type="module">
    import { defineCustomElements } from '/uikit/assets/uikit/loader.js'
    defineCustomElements()
</script>
<script src="{{ '/assets/scripts/navigation.js' | url }}"></script>
