<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ title }}</title>
{# Docs styles #}
<link rel="stylesheet" href="{{ '/assets/styles/docs.css' | url }}"/> 

{# Docs scripts #}
<script src="{{ '/assets/scripts/navigation.js' | url }}"></script>
{# Favicon #}