<div class="doc-logo">
    <img src="/assets/images/logo.png" width="60" alt="UIKit Logo" class="doc-logo">
    <div class="wrapper">
        <p class="text">UIKit
            <code class="version">v1.0.0.beta-3</code>
        </p>
        <p class="desc">A design system for everyone.</p>
    </div>
</div>