# See http://help.github.com/ignore-files/ for more about ignoring files.

.npmrc

# compiled output
dist/
loader/
demo/

dist
tmp
/out-tsc

# dependencies
node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.eslintcache
.nx
.npmrc
.idea
cache/
.husky/

# System Files
.DS_Store
Thumbs.db

# Documentation
docs/.nuxt

# source files to ignore
.stencil
packages/react/src/components.ts
packages/vue/src/components.ts
