@import url('./sidebar.css');

html {
    width: 100%;
    height: 100%;
}

a {
    color: #69d0ff;
    text-decoration: inherit;
}

.docs {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.docs_sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
    border-right: 1px solid #36363b;
    overflow: auto;
}

.docs_content {
    flex: 1;
    padding: 40px 60px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
    position: relative;
}

.docs-outline {
    position: sticky;
    top: 5rem;
    width: 240px;
}

.markdown {
    flex: 1;
    overflow-y: auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.25;
}

.markdown h1 {
    font-size: 2.25rem;
}
.markdown h2 {
    font-size: 1.75rem;
}
.markdown h3 {
    font-size: 1.5rem;
}
.markdown h4 {
    font-size: 1.25rem;
}
.markdown h5 {
    font-size: 1.125rem;
}
.markdown h6 {
    font-size: 1rem;
    color: #666;
}

.markdown p {
    margin: 1rem 0;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown ul,
.markdown ol {
    padding-left: 2rem;
    margin: 1rem 0;
    list-style: auto;
}
.markdown li {
    margin-bottom: 0.5rem;
}

.markdown code {
    background: #ffffff08;
    padding: 0.2em 0.4em;
    font-size: 0.95em;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.markdown pre {
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 5px;
    margin: 1.5rem 0;
}
.markdown pre code {
    background: none;
    color: inherit;
    padding: 0;
    font-size: 0.95rem;
}

.markdown hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.95rem;
}
.markdown th,
.markdown td {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    text-align: left;
}
.markdown thead {
    background: #f0f0f0;
}

.markdown img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    display: block;
}

.markdown strong {
    font-weight: bold;
}
.markdown em {
    font-style: italic;
}
.markdown del {
    text-decoration: line-through;
}
