html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	tab-size: 4;
	line-height: 1.5;
	font-family: system-ui, sans-serif;
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
