@layer uk-native {
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    tab-size: 4;
    background-color: var(--uk-color-surface-default);
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--uk-color-text-normal);
    font-family: var(--uk-font-family-body);
    font-size: var(--uk-font-size-m);
    font-weight: var(--uk-font-weight-body);
    line-height: var(--uk-line-height-normal);
    text-size-adjust: none;
  }
}
